{% load staticfiles %}
<html>
    <head>
        <title>LogIn</title>
        <script src = "https://plus.google.com/js/client:platform.js" async defer></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="363592047918-flrra9ugbthv46nbtim2o42u3fu5mktb.apps.googleusercontent.com">
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/home.css" %}">
        <link rel="stylesheet" href="{% static "css/contact.css" %}">
	</head>
<body class="background">
    <div class="lineheader">
    </div>
    <div class="menu">
        <table class="options">
            <tr>
                <p class="headtext">Hello, {{user.username}}</p>
            </tr>
            <tr>
            </tr>
            <tr>
                <td><a href="/home/" class="menuitem">HOME</a></td>
                <td><a href="/profile/" class="menuitem">PROFILE</a></td>
                <td><a href="/contact/" class="menuitem">CONTACT</a></td>
                <td><a href="/setting/" class="menuitem">SETTINGS</a></td>
                <td><a href="/logout/" class="menuitem">SIGN OUT</a></td>
            </tr>
        </table> 
    </div>
    <div id="response" class="show">
        <p class="p">La Liga</p>
        <p class="comment">Envianos tu comentario!!!</p>
        <form method="post" action="/contact/">
            <textarea class="email" rows="4" cols="50" name="mailbody">Escribe tu comentario...</textarea>
            <button class="sendButton" type="submit" formmethod="POST">Send</button>
        </form>
    </div>
 </body>