{% load staticfiles %}
<html>
    <head>
        <title>LogIn</title>
        <script src = "https://plus.google.com/js/client:platform.js" async defer></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="363592047918-flrra9ugbthv46nbtim2o42u3fu5mktb.apps.googleusercontent.com">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/home.css" %}">
	</head>
<body class="background">
    <div class="lineheader">
    </div>
    <div class="menu">
        <table class="options">
            <tr>
                <p class="headtext">Hello, {{user.username}}</p>
            </tr>
            <tr>
            </tr>
            <tr>
                <td><a href="/home/" class="menuitem">HOME</a></td>
                <td><a href="/profile/" class="menuitem">PROFILE</a></td>
                <td><a href="/contact/" class="menuitem">CONTACT</a></td>
                <td><a href="/setting/" class="menuitem">SETTINGS</a></td>
                <td><a href="/logout/" class="menuitem">SIGN OUT</a></td>
            </tr>
        </table> 
    </div>
    <div id="response" class="show">
        <p class="p">La Liga</p>
        <table class="imgtable">
            <tr>
                <td class="tableitem"><a href= "/home/{{teams.0.name}}/" ><img class="imaget" src= {{teams.0.imageUrl}} /></a></td>
                <td class="tableitem"><a href="/home/{{teams.1.name}}/"><img class="imaget" src= {{teams.1.imageUrl}} /></a></td>
                <td class="tableitem"><a href="/home/{{teams.2.name}}/"><img class="imaget" src= {{teams.2.imageUrl}} /></a></td>
            </tr>
            <tr>
                <td class="tableitem"><a href= "/home/{{teams.3.name}}/" ><img class="imaget" src= {{teams.3.imageUrl}} /></a></td>
                <td class="tableitem"><a href="/home/{{teams.4.name}}/"><img class="imaget" src= {{teams.4.imageUrl}} /></a></td>
                <td class="tableitem"><a href="/home/{{teams.5.name}}/"><img class="imaget" src= {{teams.5.imageUrl}} /></a></td>
            </tr>
            <tr>
                <td class="tableitem"><a href="/home/{{teams.6.name}}/"><img class="imaget" src= {{teams.6.imageUrl}} /></a></td>
                <td class="tableitem"><a href="/home/{{teams.7.name}}/"><img class="imaget" src= {{teams.7.imageUrl}} /></a></td>
                <td class="tableitem"><a href="/home/{{teams.8.name}}/"><img class="imaget" src= {{teams.8.imageUrl}} /></a></td>
            </tr>
        </table> 
        
    </div>
 </body>