{% load staticfiles %}
<html>
    <head>
        <title>LogIn</title>
        <script src = "https://plus.google.com/js/client:platform.js" async defer></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/login.css" %}">
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	</head>
<body class="background">
    <div class="lineheader"/>
    <div class="rectangle">
        <p class="titleliga">La Liga</p>
     Container with the Sign-In button. 
        <div id="gConnect" class="wrapper">
            <button id="googleButton"
                class="g-signin"
                data-scope="email"
                data-clientid="363592047918-flrra9ugbthv46nbtim2o42u3fu5mktb.apps.googleusercontent.com"
                data-callback="onSignInCallback"
                data-theme="dark"
                data-cookiepolicy="single_host_origin">
            </button>
        </div>
    </div>
 </body>

  <script>
  /**
   * Handler for the signin callback triggered after the user selects an account.
   */
  function onSignInCallback(resp) {
    gapi.client.load('plus', 'v1', apiClientLoaded);
  }

  /**
   * Sets up an API call after the Google API client loads.
   */
  function apiClientLoaded() {
    gapi.client.plus.people.get({userId: 'me'}).execute(handleEmailResponse);
  }

  /**
   * Response callback for when the API client receives a response.
   *
   * @param resp The API response object with the user email and profile information.
   */
  function handleEmailResponse(resp) {
    
    var userName;
    var primaryEmail;
    for (var i=0; i < resp.emails.length; i++) {
      if (resp.emails[i].type === 'account'){
          primaryEmail = resp.emails[i].value;
          userName = resp.displayName;
          post('/', {username: userName, email: primaryEmail });
//        window.location.href = "http://localhost:8000/home";
      }
    }
   /* document.getElementById('responseContainer').value = 'Primary email: ' +
        primaryEmail + '\n\nFull Response:\n' + JSON.stringify(resp);*/
    document.getElementById('labelAux').innerText = 'User Name: ' +
        resp.displayName;
  }

function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}
      
  </script>
</html>
