{% load staticfiles %}
<html>
    <head>
        <title>LogIn</title>
        <script src = "https://plus.google.com/js/client:platform.js" async defer></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="363592047918-flrra9ugbthv46nbtim2o42u3fu5mktb.apps.googleusercontent.com">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/profile.css" %}">
	</head>
<body class="background">
    <div class="lineheader">
    </div>
    <div class="menu">
        <table class="options">
            <tr>
                <p class="headtext">Hello,  {{userprofile.username}}</p>
            </tr>
            <tr>
            </tr>
            <tr>
                <td><a href="/home/" class="menuitem">HOME</a></td>
                <td><a href="/profile/" class="menuitem">PROFILE</a></td>
                <td><a href="/contact/" class="menuitem">CONTACT</a></td>
                <td><a href="/setting/" class="menuitem">SETTINGS</a></td>
                <td><a href="/logout/" class="menuitem">SIGN OUT</a></td>
            </tr>
        </table> 
    </div>
    <div id="response" class="show">
        <table class="imgtable">
            <tr>
                <td class="tableitemprofile"><p class="description">Username:</p></td>
                <td class="tableitemprofile"><input id="usernameid" type="text" name="username" value="{{userprofile.username}}"></td>
            </tr>
            <tr>
                <td class="tableitemprofile"><p class="description">Age:</p></td>
                <td class="tableitemprofile"><input id="ageid" type="number" name="age" value="{{userprofile.age}}"></td>
            </tr>
            <tr>
                <td class="tableitemprofile"><p class="description">Team:</p></td>
                <td class="tableitemprofile"><input id="teamid" type="text" name="team" value="{{userprofile.team}}"></a></td>
            </tr>
            <tr>
                <td><button class="sendButton" onclick="post();">Save</button></td>
            </tr>
        </table> 
        
    </div>
 </body>

<script>
    function post() {
        
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/profile/");
    
    var username = document.getElementById('usernameid').value;
    var age = document.getElementById('ageid').value;
    var team = document.getElementById('teamid').value;
    
    var regex = /^[0-9]{2}$/;
    
    if(!age.match(regex)){
        alert("Edad no valida... :( ")
        return false;
    }
    
    var usernameField = document.createElement("input");
    usernameField.setAttribute("type", "hidden");
    usernameField.setAttribute("name", "username");
    usernameField.setAttribute("value", username);
    form.appendChild(usernameField);
    var ageField = document.createElement("input");
    ageField.setAttribute("type", "hidden");
    ageField.setAttribute("name", "age");
    ageField.setAttribute("value", age);
    form.appendChild(ageField);
    var teamField = document.createElement("input");
    teamField.setAttribute("type", "hidden");
    teamField.setAttribute("name", "team");
    teamField.setAttribute("value", team);
    form.appendChild(teamField);

    document.body.appendChild(form);
    form.submit();
}
</script>