{% load staticfiles %}
<html>
    <head>
        <title>LogIn</title>
        <script src = "https://plus.google.com/js/client:platform.js" async defer></script>
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/home.css" %}">
	</head>
<body class="background">
    <div class="lineheader">
    </div>
    <div class="menu">
    </div>
        <div id="response" class="show">

    <p class="p">La liga {{teamdetail.name}}</p>
    </div>
 </body>